---
layout: default
---

<div class="intro">
  <div class="intro__content">
    <h1 class="intro__heading"><strong>Bilal Kazi</strong></h1>
    <h2 class="intro__heading">I study <strong>Computer Science</strong></h2>
    <p class="intro__paragraph">I design and build apps and experiences</p>
    <div class="intro__extra">
      <a class="intro__resume-link" href="/resume/">R&eacute;sum&eacute;</a>
      <div class="intro__links">
        {% include icon-linkedin.html username="bkazi" class="icon--2x icon--black" %}
        {% include icon-github.html username="bkazi" class="icon--2x icon--black" %}
        {% include icon-codepen.html username="bkazi" class="icon--2x icon--black" %}
        {% include icon-medium.html username="bkazi" class="icon--2x icon--black" %}
        <!--{% include icon-behance.html username="bilalahmed7ce6" class="icon--2x icon--black" %}-->
        <!-- {% include icon-instagram.html username="bkazi15" class="icon--2x icon--black" %} -->
      </div>
    </div>
  </div>
  <div class="arrow"></div>
</div>

<div class="holder">
  <div class="content">
    <div class="routes">
      <span class="route"><a id="writing" href="/">Writing</a></span>
      <span class="route selected"><a id="about" href="about">About</a></span>
    </div>
    <div class="route-content about">
        <img class="about__image" src="/images/bilalK.jpg" />
        <p class="about__text">I'm a Computer Science student at the <em>University of Bristol</em> from India.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices a turpis eu tincidunt. Praesent scelerisque ex id cursus ornare. Aliquam tincidunt vel augue cursus consequat. Sed mollis eros id venenatis fringilla. Fusce vehicula efficitur magna, quis lobortis enim facilisis dapibus. Praesent egestas aliquet odio cursus porttitor. Nam sodales mollis mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel tellus sapien. Mauris elit dolor, malesuada eget molestie et, mollis sed dolor. Suspendisse congue libero ut mi tristique, a placerat nisl volutpat. Maecenas nibh leo, faucibus vitae odio vel, consectetur vulputate ligula. Fusce tempor a orci suscipit imperdiet. Nulla auctor bibendum enim, dignissim varius arcu posuere vitae.</p>
    </div>
    <div class="route-content writing hidden route-hidden">
      <a class="content--horizontal" href="{% post_url 2016-09-04-scotland-yard %}">
        <div class="content__img">
          <img src="/images/scotlandYard.jpg"/>
        </div>
        <div class="content__desc">
          <h3>Scotland Yard - Case Study</h3>
          <p>The Scotland Yard project was part of the final project for the Programming and Algorithms unit, the aim of which was to, in a team of two, digitally recreate the Scotland Yard Board Game. It involved two parts. The first part was to build a model for the provided MVC framework so that it integrates with the Java GUI and yields a playable game. The second to build an AI that would play the game as both Mr. X and the detectives.</p>
          <span>Post</span>
        </div>
      </a>
      <a class="content--vertical" href="https://medium.com/@bkazi/cache-management-in-an-offline-web-app-eee866fafa5c">
        <div class="content__img">
            <img src="/images/cache-management.jpg"/>
        </div>
        <div class="content__desc">
          <h3>Cache Management in an Offline Web App</h3>
          <p>As our web apps go offline how do you make sure you aren’t adding bloat to the user’s device</p>
          <span class="external">Medium</span>
        </div>
      </a>
      <a class="content--vertical" href="https://medium.com/@bkazi/understanding-icons-36d07c8478fd">
        <div class="content__img">
            <img src="/images/understanding-icons.jpg"/>
        </div>
        <div class="content__desc">
          <h3>Understanding Icons</h3>
          <p>How do we recognise icons? What gives them their meaning? Is there an alternative?</p>
          <span class="external">Medium</span>
        </div>
      </a>
    </div>
  </div>
</div>
