.card--link {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $white;
  }
  &:active {
    color: $white;
  }
  &:visited {
    color: $white;
  }
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  min-height: 100vh;
  color: $white;
  background-color: #fbdbc4;
  background-image: url(/pattern2.svg);
  background-repeat: repeat;
  perspective: 5px;
  perspective-origin: center;
}

.about__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 8px;
  background: linear-gradient(248deg, #595071, #a2658d);
  box-shadow: 6px 6px 20px 4px rgba(0,0,0,0.5);
}

.about__text {
  margin: 0;
  color: black;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 8px;
  padding-bottom: 64px;
  background-color: white;
  font-family: 'Arima Madurai', sans-serif;
  font-size: 1.1em;
  word-wrap: break-word;
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
  transform: translateZ(10px);
  transition: opacity 350ms ease-in,transform 300ms cubic-bezier(0.35, 0.51, 0.65, 1.07);

  em {
    font-family: inherit;
    font-weight: 600;
  }
}

.about__image {
  position: absolute;
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);
  max-width: 200px;
  width: 30%;
  border-radius: 50%;
  z-index: 10;
  bottom: -2%;
  right: -5%;
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;
  transform: translateZ(10px);
  transition: opacity 300ms ease-in,transform 350ms cubic-bezier(0.34, 0.89, 1, 0.65);
  transition-delay: 300ms;
}

@media (min-width: 600px) {
  .about {
    padding: 32px;
  }
  .about__container{
    padding: 16px;
  }
  .about__text {
    padding: 16px;
  }
  .about__image {
    bottom: -10%;
    right: -5%;
  }
}

@media (min-width: 750px) {
  .about {
    padding: 64px;
  }
  .about__container{
    padding: 32px;
  }
  .about__text {
    padding: 32px;
  }
  .about__image {
    bottom: -10%;
    right: -5%;
  }
}

.about__resume-link {
  display: inline-block;
  padding: 5px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
  &:visited {
    color: $white;
  }
}

.card__links {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.scotland-yard {
  position: relative;
  height: 400px;
  padding: 10px;
  background-image: url("/images/scotlandYard.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $silver;
}

.medium-card {
  position: relative;
  height: 400px;
  padding: 10px;
  background-image: url("/images/medium.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 100% 90%;
  background-color: $green;
}

.half-width {
  width: 100%;

  @media (min-width: 700px) {
    flex-grow: 1;
    width: 100px;
  }
}

.full-width {
  width: 100%;
}