.intro {
  width: 100%;
  height: 100vh;
  padding: 5px;
  text-align: right;
  display: flex;
  align-items: center;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: 0px;
    object-fit: cover;

    &.fade-in {
      transition: opacity 250ms ease-in; 
      opacity: 0;
    }
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  padding-right: 15px;
  color: white;
  font-weight: 600;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0) 20%, rgba(195, 57, 172, 0.35));

  em {
    color: white;
  }
}

.intro__heading {
  margin-bottom: 5px;
  font-weight: 400;
  margin-top: 5px;
  font-family: $accent-font;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.intro__paragraph {
  margin-top: 0px;
  font-family: $accent-font;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

@media (min-width: 750px) {
  .intro__paragraph {
    font-size: 1.2em;
  }
  h1.intro__heading {
    font-size: 2.5em;
  }
  h2.intro__heading {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .intro__paragraph {
    font-size: 1.5em;
  }
  h1.intro__heading {
    font-size: 3em;
  }
  h2.intro__heading {
    font-size: 2.5em;
  }
}

.intro__resume-link {
  position: relative;
  color: #8d4982;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 5px 20px;
  border: solid 3px #8d4982;
  background-color: white;
  z-index: 2;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
  transition: transform 150ms ease-out, box-shadow 150ms ease-in-out, opacity 300ms ease-in-out;
  cursor: pointer;

  &:visited {
    color: #8d4982;
  }

  &:hover {
    font-size: 1.1rem;
    transform: translate(-3px, -3px) !important;
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.5);
  }
}

.intro__links {
  position: relative;
  margin-top: 22px;

  a {
    pointer-events: none;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
    margin-right: 5px;
    cursor: pointer;

    span {
      transition: transform 100ms ease-in-out;
    }

    span:hover {
      transform: scale(1.3);
    }
  }
}

.content {
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content--horizontal {
  width: 100%;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 2%;
  right: 25%;
  will-change: transform;
  animation: point 0.7s cubic-bezier(0.12, 0.88, 0.34, 0.85) alternate infinite;
  
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    width: 2px;
    height: 20px;
    box-shadow: 0px 0px 5px 1px rgba(150, 150, 150, 0.2)
  }

  &::before {
    transform: rotateZ(-45deg);
    left: 7.5px;
  }

  &::after {
    transform: rotateZ(45deg);
    right: 7.5px;
  }
}

@keyframes point {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}