.intro {
  width: 100%;
  height: 100vh;
  padding: 5px;
  text-align: right;
  display: flex;
  align-items: center;
  background-image: url("/images/main.jpg");
  background-size: cover;
}

.intro__content {
  padding-right: 15px;
  margin-left: auto;
  color: white;
  font-weight: 600;

  em {
    color: white;
  }
}

.intro__heading {
  margin-bottom: 5px;
  font-weight: 400;
  margin-top: 5px;
}

.intro__paragraph {
  margin-top: 0px;
  font-family: $accent-font;
  font-weight: 600;
}

@media (min-width: 750px) {
  .intro__paragraph {
    font-size: 1.2em;
  }
  h1.intro__heading {
    font-size: 2.5em;
  }
  h2.intro__heading {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .intro__paragraph {
    font-size: 1.5em;
  }
  h1.intro__heading {
    font-size: 3em;
  }
  h2.intro__heading {
    font-size: 2.5em;
  }
}

.content {
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
