.icon-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.icon--2x {
  width: 32px;
  height: 32px;
}

.icon--black svg {
  fill: $black;
}

.icon--white svg {
  fill: $white;
}
