---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFAFA">
    <title>Resume</title>
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include critical_resume.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
    {% seo title=false %}
  </head>

  <body>

    <main class="container resume" aria-label="Content">
      <div class="details">
        <h1 class="name">Bilal Kazi</h1>
        <p class="info">
          <a href="/">bkazi.github.io</a><br>
          email: <a href="mailto:bilalahmedkazi@hotmail.com">bilalahmedkazi@hotmail.com</a><br>
          LinkedIn: <a href="https://uk.linkedin.com/in/bkazi">uk.linkedin.com/in/bkazi</a> | Github: <a href="https://www.github.com/bkazi">bkazi</a><br>
          Mobile: (+44) 7480681654
        </p>
      </div>
      <div>
        <h3 class="heading">Education</h3>
        <ul>
          <li>
            <div class="list__details">
              <strong>MEng Computer Science</strong>
              <span class="time">September 2015 - July 2019</span>
            </div>
            <p>
              <em>Completed Year 1 and 2 with a 2:1</em><br>
              University of Bristol - Bristol, United Kingdom
            </p>
          </li>
          <li>
            <div class="list__details">
              <strong>High School Examination</strong>
              <span class="time">June 2013 - May 2015</span>
            </div>
            <p>
              <em>Distinction (90%)</em><br>
              Indian School Certificate (ISC)<br>
              Jamnabai Narsee School - Mumbai, India
            </p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="heading">Projects</h3>
        <ul>
          <li>
            <div class="list__details">
              <strong>Kukatune</strong>
            </div>
            <ul class="bullets">
              <li>A music request app developed for a client as part of the Software Engineering Project</li>
              <li>Team of 6</li>
              <li>Used React, Redux, Webpack, GraphQL, and ExpressJS</li>
              <li>Social media aspects like a feed and location based event recommendation</li>
              <li>Responsible for front end design and animations using React</li>
              <li>Also implemented offline functionality using Service Worker</li>
            </ul>
          </li>
          <li>
            <div class="list__details">
              <strong>Recycling Android App</strong>
            </div>
            <ul class="bullets">
              <li>24 Hour Boeing and Computer Science Society Bristol Hackathon with an environment theme</li>
              <li>Android app that gives users information on how to recycle items by scanning their barcode and using current location for local council recycling rules</li>
              <li>Team of 5</li>
              <li>Responsible for the implementing the views of the app and handling data flow between app and server</li>
              <li>Won the prize for Best Environmental impact</li>
            </ul>
          </li>
          <li>
            <div class="list__details">
              <strong><a href="{% post_url 2016-09-04-scotland-yard %}">Scotland Yard Game Project</a></strong>
            </div>
            <ul class="bullets">
              <li>Coursework for the Programming and Algorithms unit which involved creation of the model of the Scotland Yard board game to complete the provided MVC framework and an AI system to play the game.
              <li>Team of 2</li>
              <li>Implemented the use of ThreadPools and other classes from the Concurrent package to improve performance of the Monte Carlo tree search algorithm along with heuristically scoring each board.</li>
            </ul>
          </li>
          <li>
            <div class="list__details">
              <strong><a href="http://www.betteringmagazine.co.uk">Bettering Magazine Website</a></strong>
            </div>
            <ul class="bullets">
              <li>Created the website of Bettering Magazine, a non-profit magazine based in Bristol which helps local charities.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="heading">Involvements</h3>
        <ul>
          <li>
            <div class="list__details">
              <strong><a href="http://www.digimakers.co.uk">DigiMakers Bristol</a></strong>
              <span class="time">October 2015 - present</span>
            </div>
            <p>
              Conducts workshops for children aged 7 – 17 where they are given an introduction on creating websites using Bootstrap
            </p>
          </li>
          <li>
            <div class="list__details">
              <strong>Manor JCR Committee</strong>
              <span class="time">May 2016 - April 2018</span>
            </div>
            <p>
              Served as President(2017/18) and International Representative(2016/17) on the committee that handles the social and recreational activities of around 300 undergraduate residents of Manor Hall in Bristol.
            </p>
          </li>
          <li>
            <div class="list__details">
              <strong>Volunteer at Anant Vikas - Mind Genius Trust Initiative</strong>
              <span class="time">June 2014 - January 2014</span>
            </div>
            <p>
              Student volunteer at Anant Vikas who along with United Nation Volunteers addresses challenges of extreme poverty and rural development in India
            </p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="heading">Training</h3>
        <div class="grid">
            <p><strong>M101JS: MongoDB for Node.js developers</strong><br>MongoDB University</p>
            <p><strong>Introduction to R</strong><br>Micrsoft (edX)</p>
            <p><strong>Ruby on Rails: An Introduction</strong><br>Johns Hopkins University (Coursera)</p>
        </div>
      </div>
      <div>
        <h3 class="heading">Skills</h3>
        <ul>
          <li>
            <p><strong>Proficient:</strong> JavaScript, Java, C, Python, Haskell, HTML & CSS (Sass), Git</p>
          </li>
          <li>
            <p><strong>Familiar:</strong>R, Ruby, SQL, MongoDB, MATLAB</p>
          </li>
          <li>
            <p><strong>SDK and Libraries:</strong> React, Polymer, Android</p>
          </li>
        </ul>
      </div>
    </main>
    <a class="pdf" href="./Bilal-Kazi-Resume.pdf" target="_blank">
      View as PDF
    </a>
    {% include google-analytics.html %}
  </body>

</html>