---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">

  <head>
    <meta name="theme-color" content="#02A493"/>
    <script async src="/js/main.js"></script>
    <link rel="preload" href="/css/main.css" as="style">
    <link rel="preload" href="/images/bilalK.jpg" as="image">
    {% include head.html %}
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include critical_home.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>
    {% seo title=false %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <link rel="stylesheet" href="/css/main.css">
    <main aria-label="Content">
      {{ content }}
    </main>
    <script async defer src="/js/routing.js"></script>
    {% include google-analytics.html %}
  </body>

</html>
